node_modules/
.env.staging
.expo/
.fmm.db
dist/
build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env*.local
android/
ios/
.DS_Store
*.log
yarn-error.log*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*
.nancy/
.yarnrc.yml
